.piece-div {
    position: absolute;
    pointer-events: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.piece-div__wk {
    background-image: url(../piecesImages/alpha/wk.svg);
}

.piece-div__wq {
    background-image: url(../piecesImages/alpha/wq.svg);
}

.piece-div__wr {
    background-image: url(../piecesImages/alpha/wr.svg);
}

.piece-div__wb {
    background-image: url(../piecesImages/alpha/wb.svg);
}

.piece-div__wn {
    background-image: url(../piecesImages/alpha/wn.svg);
}

.piece-div__wp {
    background-image: url(../piecesImages/alpha/wp.svg);
}

.piece-div__bk {
    background-image: url(../piecesImages/alpha/bk.svg);
}

.piece-div__bq {
    background-image: url(../piecesImages/alpha/bq.svg);
}

.piece-div__br {
    background-image: url(../piecesImages/alpha/br.svg);
}

.piece-div__bb {
    background-image: url(../piecesImages/alpha/bb.svg);
}

.piece-div__bn {
    background-image: url(../piecesImages/alpha/bn.svg);
}

.piece-div__bp {
    background-image: url(../piecesImages/alpha/bp.svg);
}


